body {
    margin: 0;
    text-align: center;
}
h1, h2, h3, p{
    margin-top: 0;
    color: #dbe2ef;

}
.top-container {
    background-color: #3f72af ;
    position: relative;
    padding-top: 100px;
}
.middle-container {
    background-color: #112d4e;
}
.skills {
    background-color: #3f72af ;
}
.bottom-container {
    background-color: #3f72af
    
}
.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    right: 400px;
    top: 40px;
}